@font-face {
    font-family: 'GenJyuuGothic';
    src: url('~@/assets/fonts/GenJyuuGothic-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Han Sans';
    src: url('~@/assets/fonts/SourceHanSans-Medium.otf') format('truetype');
}